html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: beige;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    user-select: none;
}

.titoloprincipalepagina{
    text-align: center;
    font-size: 42px;
}

.header {
    display: flex;
    align-items: center; /* Questo allinea gli elementi verticalmente al centro */
}

.logo{
    width: 200px;
    height: auto;
}

/* Disabilita l'effetto di feedback della pressione di un pulsante in azzurro su i dispositi mobile come tablet e telefoni */
*{
    -webkit-tap-highlight-color: transparent; /* Per Safari, iOS e altri browser WebKit */
    -webkit-touch-callout: none; /* Impedisce la visualizzazione del menu di azione a lungo tocco */
    -ms-touch-action: manipulation; /* Imposta il comportamento del tocco */
    touch-action: manipulation; /* Imposta il comportamento del tocco */
}
  
/* Disabilita il trascinamento delle immagini in una altra scheda (per togliere la possibilità di copiarle) */
img {
    -webkit-user-drag: none; /* Per browser WebKit come Chrome e Safari */
    user-drag: none; /* Per Firefox */
}

li {
    padding: 0.3rem;
}